.container {
    display: flex;
    background-color: black;
    flex-direction: column;
    color: #fff;
    height: auto;
    align-items: center;
    justify-content: center;
}

.wrap {
    margin: 10rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

@media only screen and (max-width: 767px) {
    .wrap {
        margin: 7rem 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 2rem;
}

@media only screen and (max-width: 767px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        gap: 2rem;
    }
}

.innerRow {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .innerRow {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.innerRowReverse {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 767px) {
    .innerRowReverse {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

}


.rowLeft {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowRight {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.colloquiumLogo {
    height: 7rem;
}

@media only screen and (max-width: 767px) {
    .colloquiumLogo {
        height: 4rem;
    }
}

.description {
    --tw-text-opacity: 1;
    line-height: 1.625;
    text-align: justify;
    color: rgb(203 213 224 / var(--tw-text-opacity));
}

@media only screen and (max-width: 767px) {
    .description {
        font-size: medium;
    }
}

.title {
    font-size: 2rem;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, #febc65, #febc65, #febc65, rgb(255, 255, 255)) text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 767px) {
    .title {
        font-size: 1.3rem;
        font-weight: 700;
        background: -webkit-linear-gradient(45deg, #febc65, #febc65, #febc65, rgb(255, 255, 255)) text;
        -webkit-text-fill-color: transparent;
    }
}